.header{
  text-align: center;
}

.divemail{
  width: 100%;
  padding: 5px 0 5px 0;
}

.divpassword{
  width: 100%;
  padding: 5px 0 5px 0;
}

.email{
  width: 100%;
}

.password{
  width: 100%;
}

.mat-mdc-unelevated-button.mat-unthemed{
  --mdc-filled-button-container-color: #365ffe;
  --mdc-filled-button-label-text-color: #fff;
  width: 100%;
  height: 56px;
}

.divlogin{
  padding: 5px 0 5px 0;
}
