<mat-toolbar style="min-height: 100px; color: #566780; background-color: #accdff; position:sticky">
  <button (click)="sidenav.toggle()" mat-icon-button class="example-icon navbar-button" aria-label="Example icon-button with menu icon">
    <mat-icon class="mat-icon">menu</mat-icon>
  </button>

  <img class="center-image" ngSrc="assets/ProgressPlanerLogo.png" height="100" width="250">

  <button mat-icon-button class="example-icon navbar-button" aria-label="Example icon-button with account icon">
    <mat-icon class="mat-icon">account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/weight-tracker">Weight Tracker</a>
      <a mat-list-item routerLink="/body-measures">Body Measures</a>
      <a mat-list-item routerLink="/caloric-intake">Caloric Intake</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: calc(100vh - 100px)">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

